.orders-screen-content{
    margin: 0px auto;
    max-width: 98%;
    text-align: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.pos .clientlist-screen .client-detail > .label{
    width: auto !important;
}