/*Product screen*/
.product-status {
    width: 100%;
    height: 20px;
    bottom: 0;
    position: absolute;
    color: white;
    line-height: 20px;
    text-align: center;
}

.product-available {
    background: limegreen;
}

.product-not-available {
    background: red;
}

.product-service {
    background: royalblue;
}

/*Check stock button and out of stock notify*/
.check-stock-img {
    margin-top: 20px;
}

.popup-noti-outstock {
    height: 210px;
}

.footer .popup-noti-outstock-check {
    background-color: cornflowerblue !important;
    color: white;
}

.footer .popup-noti-outstock-confirm {
    background-color: cornflowerblue !important;
    color: white;
}

.footer .popup-noti-outstock-all-ok {
    background-color: cornflowerblue !important;
    color: white;
}

.product-result-label {
    margin-left: 8px;
}

img#close_stock_details {
    float: right;
}

.pos .clientlist-screen .checkstock-product-details .client-name {
    margin-bottom: 0px;
    display: inline;
}

.pos .clientlist-screen .checkstock-product-details .client-details-left {
    margin-bottom: 16px;
}

.pos .clientlist-screen .checkstock-product-details .client-details-left {
    width: 100%;
}

.product-rusult-label {
    margin-left: 8px;
}

.exit-checkstock-button {
    width: 5%;
    float: right;
    margin-right: -15px;
    margin-top: -20px;
}

.client-name-field {
    width: 95%;
    float: left;
}