<section class="oe_container oe_dark lead">
    <div class="oe_row">    
        <div class='oe_span12'>
            <div class="panel " >
                <div class="panel-heading">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i><b> POS Order Return</b></div>
                     <p style="font-size:initial">
                       Returning an order in a more convenient way is something which every customer strives for in today’s world. As after standing in a long queue, customers desire that the user at the POS consumes less time to return their product.Hence, we have our module POS Order Return, which has the feature to return order at ease and in a more convenient manner with allied features.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row">    
        <div class='oe_span12'>
            <div class="panel " >
                <div class="panel-heading">
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i><b> Salient Features </b></div>
                    <ul class="list-unstyled ">
                        <li style="font-size:initial"><i class="fa fa-check text-primary"></i> Seller can return order with in POS Session.</li> 
                        <li style="font-size:initial"><i class="fa fa-check text-primary"></i> Seller can return an order completely or partially (by selelecting products to return).</li>
                        <li style="font-size:initial"><i class="fa fa-check text-primary"></i> Seller can return partially returned order again if the customer desires so.</li>
                        <li style="font-size:initial"><i class="fa fa-check text-primary"></i> Seller can also set product(s) as non returnable.</li>
                        <li style="font-size:initial"><i class="fa fa-check text-primary"></i> Seller can see the detailed view ( ordered products, quantity, price, total amount, payment mode, customer etc.) of previous orders directly in  POS Session.</li>
                        <li style="font-size:initial"><i class="fa fa-check text-primary"></i> No complex backend configuration.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    
    <div id="my-tab-content" class="tab-content">     
        <div class="tab-pane active" id="odoo_pos_order_return"> 

            <section class="oe_container  oe_dark">
                <div class="oe_row">    
                    <div class='oe_span12'>
                        <div class="panel panel-info" >
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pencil-square-o "/><b>POS Session View And Configuration</b></h3>
                            </div>
                            <div class="panel-body">
                                <section class="oe_container  lead">  
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i> <b>All Orders List</b></div>
                                        <p><img class="img-border img-responsive thumbnail" src="screen1.png" alt="screen1"></p>

                                        <p><img class="img-border img-responsive thumbnail" src="screen2.png" alt="screen2"></p>
                                </section>        
                                <section class="oe_container  lead">
                                <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i> <b>Detailed View OF Selected Order</b></div>
                                    <p style="font-size:initial"> </p>
                                    <p><img class="img-border img-responsive thumbnail" src="screen3.png" alt="screen3"/></p>
                                </section>
                                 <section class="oe_container  lead">
                                <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i> <b>Creating Return Order</b></div>
                                    <p style="font-size:initial">After clicking Refund/Return button, fill the product(s) quantities that customer want to return as shown below.</p>
                                    <p><img class="img-border img-responsive thumbnail" src="screen4.png" alt="screen4"></p>
                                    <p><img class="img-border img-responsive thumbnail" src="screen5.png" alt="screen5"></p>
                                </section>
                                <section class="oe_container  lead">
                                <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i> <b>Selecting Payment Method For Refund </b></div>
                                    <p><img class="img-border img-responsive thumbnail" src="screen6.png" alt="screen6"></p>
                                </section>
                                <section class="oe_container  lead">
                                <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i> <b>Receipt For Return Order</b></div>
                                    <p><img class="img-border img-responsive thumbnail" src="screen7.png" alt="screen7"></p>
                                </section>
                                <section class="oe_container  lead">
                                <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i> <b>Detailed View of Order After Returning Order</b></div>
                                    <p style="font-size:initial">Seller can also see which and how much quantity of product(s) is returned. For partially returned order if any situation comes that customer desires to return order again then seller can create new return order again.</p>
                                    <p><img class="img-border img-responsive thumbnail" src="screen8.png" alt="screen8"></p>
                                </section>
                                <section class="oe_container  lead">
                                <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i> <b>Make Product Non Returnable</b></div>
                                    <p style="font-size:initial">As we know some product are non-returnable type. Here Seller can also set product(s) as non returnable. These product will not be retuned in POS.</p>
                                    <p><img class="img-border img-responsive thumbnail" src="screen9.png" alt="screen7"></p>
                                </section>
                                <section class="oe_container  lead">
                                <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i> <b>Non Returnable Products in POS</b></div>
                                    <p><img class="img-border img-responsive thumbnail" src="screen10.png" alt="default_values_2"></p>
                                </section>
                             </div>
                        </div>
                   </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section class='oe_container oe_dark'>
    <div class='oe_row'>
    <div class="oe_span12">
        <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for installation, configuration, or reinstallation (not including data recovery) or any type of issue related to this module.
            </p>
    </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
         <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket">Request new Features</a></span>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=POS-ORDER-RETURN&url=https://apps.openerp.com/apps/modules/10.0/pos_order_return&uid=pos_order_return" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>



