.return_popup_table{
	table-layout: fixed;
	text-align: left;
	width:100%;
}
.container_div{
	height: 240px;
    overflow-y: scroll;
    margin-top: -3%;
}
.return_popup_tr{
	height: 53px;
	background-color: rgb(222, 224, 224);
}
.table_data_cells{
    padding-left: 2%;
}
.return_popup_style{
	height: 435px !important;
	width: 535px !important;
	font-family: inherit;
}