.report_deliveryslip .import_note{margin-top:20px;}
.table-adam .table-bordered,.table-adam .table-bordered>thead>tr>th,.table-adam .table-bordered>tbody>tr>td {border-color: #000000 !important;}

.xxxxxx{color:red !important; font-weight:bold !important}