.screen .centered-content {
    right: 20% !important;
    left: 20% !important;
}

input.note {
    border: none;
    border-bottom: 1px solid;
}

@media print {
   body {
      -webkit-print-color-adjust: exact;
	   color-adjust: exact;
   }

}

#product-list{border-collapse: collapse;    border-spacing: 2px;}
#product-list td{padding:6px 2px;border:1px solid #000}
#product-list th{padding:6px 2px;border:1px solid #000}
.receipt-orderlines {
    background-color: #d6d6d6;
}

.toplinks ul {
    width: 100%;
}

.toplinks ul li {
    float: left;
    margin-right: 25px;
    font-size: 12px;
    color: #2f2f2f;
    padding: 9px 0 9px 25px;
    text-transform: uppercase;
}

.toplinks ul li.money-back {
    background-image: url('/magestore_point_of_sale/static/src/images/xgiaytot.png');
    background-repeat: no-repeat;
    background-position: 0 -1408px;
}

.toplinks ul li.free-ship {
    background-image: url('/magestore_point_of_sale/static/src/images/xgiaytot.png');
    background-repeat: no-repeat;
    background-position: 0 -658px;
}

.toplinks ul li.warranty {
    background-position: -190px -198px;
    background-image: url('/magestore_point_of_sale/static/src/images/xgiaytot.png');
    background-repeat: no-repeat;
}

.receipt-lable {
    background:#000000 !important;color:#fff !important;text-transform:uppercase;padding:3px 1px;font-size:13px;font-family:arial,helvetica,sans-serif;font-weight: bold;
}
.receipt-policy {
    background:#000000 !important;overflow:hidden;color:#fff !important;margin-top:10px;margin-bottom:10px;font-family:arial,helvetica,sans-serif;
}
body {
  -webkit-print-color-adjust: exact;
}

/*receip*/
.pos .pos-sale-ticket {
    font-size:13px !important;
    padding: 21px !important;
    width: 520px !important;
}

/*LEFT MENU*/
/*58px for width of Promotion left menu*/

.pos .left-menu {
    position: absolute;
    width: 58px;
    height: 100%;
    z-index: 1;
    border-right: solid 1.5px #787878;
    background-color: #d3d3d3;
}

.pos .leftpane {
    width: 440px;
    left: 58px;
}

.pos .rightpane {
    left: calc(440px + 58px);
}

.pos .pos-rightheader {
    left: calc(440px + 58px);
}

.prom-img {
    position: relative;
    top: 50%;
    width: 100%;
    height: 58px;
    margin-top: 20px;
    font-size: 13px;
    font-style: oblique;
    cursor: pointer;
}

.left-menu-title {
    font-weight: bold;
    cursor: pointer;
}

.left-menu img {
    width: 90%;
    margin-top: 8px;
}

/*Left menu button and product screen*/
.pos .product {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    border: 0;
}

.pos .product:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.pos .left-menu {
    cursor: pointer;
}

.pos .left-menu > div:hover {
    background: gray;
}

.pos-promotion-note{
    margin-left: 15px;
}