.pos .get-product{
    /*background: red;*/
}
.pos .get-product-checkbox{
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    line-height: 13px;
}
.pos .get-product-title{
}
.pos .get-product-title-title{
}
.pos .pos_promotion_message {
    color: #ff0000;
}


.pos .pos-promotion-program-button{
    color: #f0f0f0;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 46px;
    padding: 4px 8px;
    margin: 3px;
    margin-bottom: 0px;
    margin-right: 2px;
    padding-top: 0px;
    background: #8b8b8b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: top;
    line-height: 42px;
    text-align: center;
    box-shadow: 0px -5px 10px -6px rgb(82,82,82) inset;
    cursor: pointer;
    min-width: 45px;
}

.pos .order-button:first-child {
    margin-left: 0px;
}

.pos .pos-promotion-program-button.selected{
    font-weight: 900;
    background: #EEEEEE;
    color: rgb(75,75,75);
    height: 45px;
    border-bottom: solid 1px rgb(196, 196, 196);
    box-shadow: none;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.pos .pos-promotion-program-product-list {
    padding: 10px;
    text-align: left;
    -webkit-transform: translate3d(0,0,0);
}

/*  e) the product */

.pos .pos-promotion-program-product {
    position:relative;
    vertical-align: top;
    display: inline-block;
    line-height: 100px;
    font-size: 11px;
    margin: 8px !important;
    width: 122px;
    height:115px;
    background:#fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    border-bottom-width: 3px;
    overflow: hidden;
    cursor: pointer;
}

.pos .pos-promotion-program-product .product-img {
    position: relative;
    width: 120px;
    height: 100px;
    background: white;
    text-align: center;
}

.pos .pos-promotion-program-product .product-img img {
    max-height: 100px;
    max-width:  120px;
    vertical-align: middle;
}

.pos .pos-promotion-program-product .price-tag {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .pos-promotion-program-product .product-name {
    position: absolute;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    bottom:0;
    top:auto;
    line-height: 14px;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:    -moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:     -ms-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    /* troublesome in latest webkit
    background:         linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    */
    /*background:#FFF;*/
    padding: 3px;
    padding-top:15px;
}


.pos .order .summary .line .discount{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}